.nav {
    border: solid;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: black;
}

.nav-buttons-group {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline-block;
    font-size: 30px;
    color: black;
}

a {
    color: white;
}

.main-section {
    border: none;
    height: 800px;
}

h1 {
    text-align: center;
}

body {
    background-color: rgb(255, 213, 0);
    max-width: 3000px;

}

.img1 {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    align-self: center;
    
}

.quote {
    font-style: oblique;
    font-size: 80px;
    color: white;
    font-weight: bolder;
    width: 1000px;
    text-align: center;
    display: inline-block;
}

div {
    border: solid;
    display: flex;
    height: 400px;
}

.about {
    font-size: 25px;
    text-align: right;
    align-items: center;
}

.aboutr {
    font-size: 26px;
    text-align: left;
    align-items: center;
}

.about1 {
    width: 20px;
}

.img2 {
    width: 300px;
    height: 300px;
    display: flex;
    align-self: flex-end;
    
}

.img3 {
    width: 350px;
    height: 320px;
    display: flex;
    align-self: center;
}

.img4 {
    width: 300px;
    height: 300px;
    display: flex;
    align-self: flex-end;
}

td {
    font-size: 30px;
}

.img5 {
    width: 600px;
    display: flex;
}

th {
    font-size: x-large;
}

footer {
    text-align: center;
    border: none;
}

p {
    display: flex;
    flex-wrap: wrap;
}

.body2 {
    max-width: 1500px;
}